.vscode/settings.json
hardware/duestat/crun.sh
interface/out.foo
interface/data/*.csv
interface/data/*.json 
interface/node_modules/*
interface/package-lock.json
interface/node_modules/.package-lock.json
